#login-form {
    right: 0px;
    position: absolute;
}

#login-form label input {
    width: 30px;
}

#create-team-button {
    margin: 0 auto;
}

.anwesend {
    background-color: lightskyblue !important;
}

.nicht-anwesend {
    background-color: transparent;
}

.top-bar {
    margin-bottom: 20px;
}

#input-player-name {
    position: absolute;
    top: 50%
}

#input-player-name-small {
    margin: 1em 0;
}

#google-visualization-errors-0 {
    display: none;
}