.indexbg {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 112, 149, 0.3) 0%, rgba(125, 185, 232, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 112, 149, 0.3)), color-stop(100%, rgba(125, 185, 232, 0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 112, 149, 0.3) 0%, rgba(125, 185, 232, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 112, 149, 0.3) 0%, rgba(125, 185, 232, 0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 112, 149, 0.3) 0%, rgba(125, 185, 232, 0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0, 112, 149, 0.3) 0%, rgba(125, 185, 232, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d007095', endColorstr='#007db9e8', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.topteam-label {
    font-style: italic;
    font-weight: bold;
}

.tt-logo {
    text-align: center;
}

.off-canvas-wrap, .inner-wrap {
    min-height: 100%;
}

.off-canvas-wrap {
    height: 100%;
    overflow-y: auto;
}

#login-form label input {
    width: 30px;
}

#create-team-button {
    margin: 0 auto;
}

.anwesend {
    background-color: lightskyblue !important;
}

.nicht-anwesend {
    background-color: transparent;
}

.top-bar {
    margin-bottom: 20px;
}

#input-player-name {
    position: absolute;
    top: 50%
}

#input-player-name-small {
    margin: 1em 0;
}

#button-add-next-player-small {
    margin-top: 0.5em;
}

#google-visualization-errors-0 {
    display: none;
}

.player-context-menu img {
    max-height: 10em;
}

#image-player {
    position: absolute;
    max-height: 20em;
    width: auto;
}

#fileupload {
    margin-top: 15em;
}

/*.input-player-name-big {*/
/*right: 5em;*/
/*}*/

#button-delete-player,
#button-save-changes {
    margin-bottom: 2em;
}

#button-delete-player-small {
    margin-bottom: 0.5em;
}

#button-save-changes-small {
    margin-bottom: 0.5em;
}

#header-date,
#player-count {
    float: left;
}

#player-count {
    margin-left: 2em;
}

.player-tr-table img {
    max-height: 4em;
    width: auto;
}

#player-nutmeg-table img {
    max-height: 4em;
    width: auto;
}

.hybrid-bar .name a {
    color: #007095;
}

.content-wrapper {
    margin-top: 1em;
}

#delete-tr {
    color: white;
    float: right;
}

@media only screen and (min-width: 40.063em) {
    .img-player {
        float: left;
        width: 25%;
        position: relative;
        overflow: hidden;
    }

    #player-tr-detail-table {
        float: left;
        width: 60%;
        margin-left: 1em;

    }
}

@media only screen and (max-width: 40.063em) {
    #player-tr-detail-table {
        margin-top: 1em;
    }
}

.panel {
    margin-bottom: 1.35em !important;
    cursor: default !important;
}

.nutmeg-count {
    font-size: 2em;
    color: #007095;
}

.player-icon-column {
    width: 20%;
}

.player-name-column {
    width: 50%;
}

.nutmeg-column {
    width: 10%;
}

.minus-column {
    width: 10%
}

.plus-column {
    width: 10%
}

.foundicon-plus,
.foundicon-minus {
    font-size: 1.5em;
}

@font-face {
    font-family: 'GeneralFoundicons';
    src: url('fonts/foundation_icons_general/fonts/general_foundicons.eot');
    src: url('fonts/foundation_icons_general/fonts/general_foundicons.eot?#iefix') format('embedded-opentype'),
    url('fonts/foundation_icons_general/fonts/general_foundicons.woff') format('woff'),
    url('fonts/foundation_icons_general/fonts/general_foundicons.ttf') format('truetype'),
    url('fonts/foundation_icons_general/fonts/general_foundicons.svg#GeneralFoundicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="foundicon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}

[class*="foundicon-"]:before {
    font-family: "GeneralFoundicons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
}

.input-nm {
    width: 5em !important;
}

.training-nutmeg-number {
    width: 40%;
    text-align: center;
}

.training-time {
    width: 30%;
}

.training-date {
    width: 30%;
}

.player-pic {
    width: 14%;
}

.name-player {
    width: 20%;
}

.nutmeg-sum,
.nutmeg-not-paid-sum {
    width: 18%;
    text-align: center;
}

.input-nm
.checkmark-nm {
    width: 15%;
    vertical-align: middle;
}

#button-send-player-info {
    margin-top: 0.5em;
}

#player-infobox-label, #player-infobox-createdat {
    cursor: default !important;
}